<head>
      <style type="text/css">
<!--
body {line-height: 200%;}
-->
</style>
</head>

<section class="user_info">
      
      <h2>
          フォローしている人
      <br>
       <% @followings.each do |following| %>
        <%= gravatar_for following %>
        <%= following.name %>
        <br>
       <% end %>
      </h2>
    </section>
    
    